body{
    width: 100%;
    height: 100%;
}

.main-menu{
    width: 100%;
    background-color: #252323;
    height: 60px;
}

main{
    margin: 0 auto;
    width: 980px;
    position: relative;
}

.logo{
    padding: 16px;
    width: 70%;
    float: left;
}

.social-networks ul li{
    display: inline-block;
    float: left;
    margin-left:  17px;
}

.social-networks{
    width: 25%;
    float: right;
}